/*How all the aspect of the webpages will look like */
body {
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
    text-align: center;
    
}

/*The properties of the navigation bar*/
nav{
    position: sticky;
    top: 0;
    
    background-color: red;
    color: white;
    height: 56px;

    box-shadow: 0 10px 20px grey;
}


/*The class selector for the shop's logo*/
.sern {
    height: 30px;
    width: 200px;
}

/*The stlying for the contents within the navigation bar */
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    
    margin: 0;
    padding: 10px;

}

/*The styling for the relative links in the unordered list for the navigation bar */
li a{
    text-decoration: none;
    position: relative;
    top: 7px;
}

/*The sytling for when the links are hovered around */
a:hover {
    background-color: white;
    padding: 23px; 
    
}

/*The sytlying for the contents in home */
.home{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
}

/*The indicator whne users are on a specific page over the navigation bar*/
.select {
    background-color: white;
    padding: 23px;
}

/*The styling for how the menu looks */
.food-column{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

/*The styling for any buttons */
.button {
    background-color: red;
    color:white;
    border-color: red;

    padding: 10px;
    margin: 10px;
}

/*How buttons look when it is hovered */
.button:hover{
    background-color: white;
    color: red;
    border-color: black;
}

/*How the quantity input box looks*/
.quantity{
    width: 50px;
}